* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select,
button {
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

button {
  height: fit-content;
  cursor: pointer;
}
